.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  background-color: #faf3e0;
  min-height: 80vh;
  width:95vw;
  color: #2b2b2b;
  font-family: 'Segoe UI', sans-serif;
}

.top-buttons {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.recommend-btn,
.watchlist-btn {
  padding: 0.8rem 1.4rem;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #b22d3e;
  background-color: #ffffff;
  color: #b22d3e;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.recommend-btn:hover,
.watchlist-btn:hover {
  background-color: #b22d3e;
  color: white;
}


.movie-box {
  background-color: #ffffff;
  border: 2px solid #b22d3e;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  width: 70vw;
  height: 60vh;
  text-align: center;
}

.movie-box-components{
  display: flex;
}
.movie-box-left,.movie-box-right{
  display:flex;
  flex-direction: column;


}
.movie-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  align-items: center;
}
.movie-poster {
  width: 200px;
  height: auto;
  align-self: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.movie-rating {
  font-size: 1.1rem;
}

.movie-plot {
  font-size: 1.3rem;
  color: #555;
}

.movie-info {
  font-size: 1.1rem;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: auto; /* Pushes buttons to the bottom */
}


.action-buttons button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.action-buttons .like {
  background-color: #2ecc71;
  color: white;
}

.action-buttons .dislike {
  background-color: #e74c3c;
  color: white;
}

.action-buttons .not-seen {
  background-color: #e6a23c;
  color: white;
}

.action-buttons button:hover {
  transform: scale(1.1);
}
