.watchlist-container {
  padding: 2rem;
  background-color: #faf3e0;
  min-height: 70vh;
  font-family: 'Segoe UI', sans-serif;
  color: #2b2b2b;
}

.watchlist-container h1 {
  text-align: center;
  font-size: 2.0rem;
  color: #b22d3e;
  font-family: 'Cinzel', serif;
  margin-bottom: 2rem;
}

.watchlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.watchlist-item {
  background-color: #fff;
  border: 2px solid #b22d3e;
  border-radius: 10px;
  padding: 1.5rem;
  width: 20vw;
  height: 20vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left;
}
